/Character.class
/Chrono.class
/Clavier.class
/Deplacement.class
/DistantMonster.class
/GhostMonster.class
/HtHMonster.class
/Jeu.class
/Keyinput.class
/Main.class
/Scene.class
/star.class
/VerifierCollision.class
